extends default.pug



block content 
	.directions
		.axis#Z
			input.ctrlbtn.dir(type='button' value='+Z' onclick='moveDir("+Z")')
			input.ctrlbtn.dir(type='button' value='-Z' onclick='moveDir("-Z")')
		.axis#Y
			input.ctrlbtn.dir(type='button' value='+Y' onclick='moveDir("+Y")')
			input.ctrlbtn.dir(type='button' value='-Y' onclick='moveDir("-Y")')
		.axis#X
			input.ctrlbtn.dir(type='button' value='+X' onclick='moveDir("+X")')
			input.ctrlbtn.dir(type='button' value='-X' onclick='moveDir("-X")')
	.distances
		input.ctrlbtn.dir#01mm(type='button' value='0.1 mm' onclick='setDistance(0.1)')
		input.ctrlbtn.dir#1mm(type='button' value='1.0 mm' onclick='setDistance(1)')
		input.ctrlbtn.dir#10mm(type='button' value='10 mm' onclick='setDistance(10)')
		input.ctrlbtn.dir#100mm(type='button' value='100 mm' onclick='setDistance(100)')
	.addfile
		form(action="/upload-file" method="POST" enctype="multipart/form-data")
			input.fileupload(type="file" name="gcodefile")
			input.ctrlbtn(type="submit")
	.filelist#filelist
	
append endScripts
	script(src="/js/getData.js")